<div class="modal modal-md fade" id="newInstructor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newInstructorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="newInstructorForm" novalidate action="/api/admin/instructor">
            <input type="hidden" id="n_instructor_avatar_url" value="">
            <input type="hidden" id="n_instructor_existing_id" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newInstructorLabel">Lägg till handledare</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <div id="n_instructor_addPart">
                        <p>
                            <label for="n_instructor_canvas_id">Person i Canvaskursen:</label>
                            <select class="form-control" id="n_instructor_canvas_id"></select>
                        </p>
                        <p>
                            <label for="n_instructor_name">Namn:</label><br>
                            <input type="text" class="form-control" id="n_instructor_name" value="" disabled>
                        </p>
                        <p>
                            <label for="n_instructor_email">E-postadress:</label><br>
                            <input type="text" class="form-control" id="n_instructor_email" value="" disabled>
                        </p>    
                        <div class="alert alert-primary">
                            Endast personer i denna Canvaskurs med rollen Lärare eller Examinator kan läggas till som handledare.
                        </div>
                    </div>
                    <div id="n_instructor_all_addedPart" style="display:none;" class="alert alert-primary">
                        <strong>Det finns inga personer att lägga till.</strong>
                        <span>Alla som har rollen Lärare eller Examinator i kursen är redan tillagda som handledare.</span>
                    </div>
                    <div class="alert alert-danger alert-error" style="display:none;">
                        <strong>Ett fel har uppstått:</strong>
                        <span></span>
                    </div>
                </div>
                <div class="modal-body content-error" style="display:none;">
                    <div class="alert alert-danger">
                        <strong>Ett fel uppstod: </strong><span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="newInstructorSaveButton">Lägg till</button>
                </div>
            </div>
        </form>
    </div>
</div>