<div class="modal modal-md fade" id="newSegment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newSegmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="newSegmentForm" novalidate action="/api/admin/segment">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newSegmentLabel">Nytt segment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="n_segment_name">Namn:</label><br>
                        <input type="text" class="form-control" id="n_segment_name" value="" required>    
                    </p>
                    <p>
                        <label for="n_segment_sign">Kod:</label><br>
                        <input type="text" class="form-control" id="n_segment_sign" maxlength="2" value="">    
                    </p>
                    <p>
                        <label for="n_segment_description">Beskrivning:</label><br>
                        <textarea class="form-control" id="n_segment_description" style="height:100px;"></textarea>
                    </p>
                    <div class="alert alert-primary alert-first-segment" style="display:none;">
                        <strong>Du skapar ett första segment. </strong>
                        <span>Existerande tillfällen kommer att tilldelas detta nya segment, eftersom tillfällen måste ha segment om de finns.</span>
                    </div>
                    <div class="alert alert-danger alert-error" style="display:none;">
                        <strong>Ett fel uppstod: </strong><span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="newSegmentSaveButton">Skapa segment <span class="spinner-border spinner-border-sm" style="display:none;" role="status" aria-hidden="true"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>