<div class="modal modal-lg fade" id="editSegment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editSegmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="editSegmentForm" novalidate action="/api/admin/segment">
            <input type="hidden" id="e_segment_id" name="course_id" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editSegmentLabel">Redigera segment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <label for="e_name">Namn:</label><br>
                        <input type="text" class="form-control" id="e_name" value="">    
                    </p>
                    <p>
                        <label for="e_name">Kod:</label><br>
                        <input type="text" class="form-control" id="e_sign" value="">    
                    </p>
                    <p>
                        <label for="e_description">Beskrivning:</label><br>
                        <textarea class="form-control" rows="3" id="e_description"></textarea>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="editSegmentSaveButton">Uppdatera</button>
                </div>
            </div>
        </form>
    </div>
</div>