<div class="modal modal-lg fade" id="editCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editCourseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="editCourseForm" novalidate method="post" action="/api/admin/course">
            <input type="hidden" id="e_course_id" name="course_id" value="" />
            <input type="hidden" id="e_canvas_course_id" name="canvas_course_id" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCourseLabel">Redigera tillfälle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body" id="editLoadingSpinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body" id="editLoadedContent">
                    <ul class="nav nav-tabs" id="editCourseTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="edit-basic-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-basic" type="button" role="tab" aria-controls="edit-tab-basic" aria-selected="true">Grundläggande</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="edit-values-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-values" type="button" role="tab" aria-controls="edit-tab-values" aria-selected="false">Begränsningar och förval</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="edit-flags-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-flags" type="button" role="tab" aria-controls="edit-tab-flags" aria-selected="false">Flaggor</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="edit-messages-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-messages" type="button" role="tab" aria-controls="edit-tab-messages" aria-selected="false">Meddelanden</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="editCourseTabContent">
                        <div class="tab-pane fade show active" id="edit-tab-basic" role="tabpanel" aria-labelledby="edit-basic-tab">
                            <p>
                                <label for="e_name">Namn:</label><br>
                                <input type="text" class="form-control" id="e_name" value="">    
                            </p>
                            <p>
                                <label for="e_description">Beskrivning:</label><br>
                                <textarea class="form-control" rows="3" id="e_description"></textarea>
                            </p>
                            <p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="e_type" id="e_type_is_group">
                                    <label class="form-check-label" for="e_type_is_group">
                                        Gruppbokning
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="e_type" id="e_type_is_individual">
                                    <label class="form-check-label" for="e_type_is_individual">
                                        Individuell bokning
                                    </label>
                                </div>
                            </p>
                            <p id="e_segmentPart">
                                <label for="e_segment">Segment:</label><br>
                                <select class="form-control" id="e_segment"></select>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="edit-tab-values" role="tabpanel" aria-labelledby="edit-values-tab">
                            <p>
                                <label for="e_max_number" class="">Max antal bokningar per utlagd tid:</label><br>
                                <input type="number" class="form-control" min="1" max="9999" value="1" id="e_max_number">
                            </p>
                            <p>
                                <label for="e_max_per_type">Max antal bokningar totalt inom tillfället:</label><br>
                                <input type="number" class="form-control" min="1" max="9999" value="1" id="e_max_per_type">
                            </p>
                            <p>
                                <label for="e_cancellation_policy_hours">Avbokningspolicy, antal timmar innan:</label><br>
                                <input type="number" class="form-control" min="1" max="120" value="24" id="e_cancellation_policy_hours">
                            </p>
                            <p>
                                <label for="e_default_slot_duration_minutes">Förvald längd i minuter på utlagd tid (stödfunktion):</label><br>
                                <input type="number" class="form-control" min="0" max="1440" value="90" id="e_default_slot_duration_minutes">
                            </p>
                        </div>
                        <div class="tab-pane fade" id="edit-tab-flags" role="tabpanel" aria-labelledby="edit-flags-tab">
                            <p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="e_message_is_mandatory">
                                    <label class="form-check-label" for="e_message_is_mandatory">
                                        Meddelande är obligatoriskt vid bokning
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="e_message_all_when_full">
                                    <label class="form-check-label" for="e_message_all_when_full">
                                        Koppla ihop alla grupper med separat meddelande när en tid är fullbokad
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="e_message_cc_instructor">
                                    <label class="form-check-label" for="e_message_cc_instructor">
                                        Skicka kopia på alla meddelanden till handledaren
                                    </label>
                                </div>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="edit-tab-messages" role="tabpanel" aria-labelledby="edit-messages-tab">                            
                            <div class="form-floating my-3">
                                <textarea class="form-control" id="e_message_confirmation_body" style="height: 200px;" placeholder=""></textarea>    
                                <label for="e_message_confirmation_body">Meddelande för bekräftelse av bokning</label>
                            </div>
                            <div class="form-floating my-3">
                                <textarea class="form-control" id="e_message_cancelled_body" style="height: 200px;" placeholder=""></textarea>    
                                <label for="e_message_cancelled_body">Meddelande för bekräftelse av avbokning</label>
                            </div>
                            <div class="form-floating my-3" id="e_message_full_bodyPart">
                                <textarea class="form-control" id="e_message_full_body" style="height: 200px;" placeholder=""></textarea>    
                                <label for="e_message_full_body">Meddelande för ihopkoppling av alla bokade</label>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Dynamiska delar i text
                                </div>
                                <div class="card-body text-muted">
                                    Dynamiska delar skrivs som {{variabelnamn}} i löpande text:<br>
                                    <table class="table table-sm table-striped" id="e_message_template_vars"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="editCourseSaveButton">Uppdatera</button>
                </div>
            </div>
        </form>
    </div>
</div>