<div class="modal modal-md fade" id="editLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLocationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="editLocationForm" novalidate action="/api/admin/location">
            <input type="hidden" id="e_location_id" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLocationLabel">Redigera plats</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <label for="e_location_name">Namn:</label><br>
                        <input type="text" class="form-control" id="e_location_name" value="" required>    
                    </p>
                    <p>
                        <label for="e_location_description">Beskrivning:</label><br>
                        <textarea id="e_location_description" class="form-control" style="height:190px;"></textarea>
                    </p>
                    <p>
                        <label for="e_location_external_url">Extern länk:</label><br>
                        <input type="text" class="form-control" id="e_location_external_url" value="">
                    </p>
                    <p>
                        <label for="e_location_campus_maps_id">Chalmers Maps Id:</label><br>
                        <input type="text" class="form-control" id="e_location_campus_maps_id" value="">
                    </p>
                    <div class="alert alert-danger alert-error" style="display:none;">
                        <strong>Ett fel uppstod: </strong><span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="editLocationSaveButton">Uppdatera</button>
                </div>
            </div>
        </form>
    </div>
</div>