<div class="modal modal-md fade" id="deleteLocation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteLocationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteLocationForm" action="/api/admin/location">
            <input type="hidden" id="d_location_id" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLocationLabel">Ta bort lokal/plats</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body loading-spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-body loaded-content" style="display:none;">
                    <p>
                        <strong id="d_location_name"></strong>
                    </p>
                    <div class="location-deletable" style="display:none;">
                    </div>
                    <div class="location-replace" style="display:none;">
                        <div class="alert alert-danger">
                            Lokalen/platsen är kopplad till tider i denna kurs. Du kan välja att ersätta med en annan lokal, eller låta den nuvarande stå kvar på tiderna.
                            Notera att inga nya tider kommer att kunna skapas med lokalen som tas bort.
                        </div>
                        <label for="d_replace_with_location">Välj:</label><br>
                        <select id="d_replace_with_location" class="form-control"></select>
                    </div>
                    <div class="alert alert-error alert-danger" style="display:none;">
                        <strong>Ett fel inträffade: </strong>
                        <span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-danger" id="deleteLocationSaveButton">Ta bort</button>
                </div>
            </div>
        </form>
    </div>
</div>