<div class="modal modal-lg fade" id="editCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editCourseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="editCourseForm" novalidate method="post" action="/api/admin/course">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCourseLabel">Redigera tillfälle/moment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <label for="e_course_name" class="form-label">Namn:</label>
                                <input id="e_course_name" name="course_name" class="form-select" aria-label="Namnet på tillfället">
                            </p>
                            <p>
                                <label for="e_course_type" class="form-label">Typ:</label>
                                <select id="e_course_type" name="course_type" class="form-select" aria-label="Typ av tillfälle, för grupp eller individ">
                                    <option value="group">Grupp</option>
                                    <option value="individual">Person</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <label for="e_date_start" class="form-label">Från:</label>
                                <input type="date" class="form-control" id="e_date_start" name="date_start">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <label for="e_date_end" class="form-label">Till:</label>
                                <input type="date" class="form-control" id="e_date_end" name="date_end">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Max antal grupper på en tid: 1-
                            </p>
                            <p>
                                Max antal personer på en tid: 1-
                            </p>
                            <p>
                                Max antal bokningar för en användare/grupp på detta tillfälle: 1-
                            </p>
                            <p>
                                Förvald längd på ett tillfälle: 90 (min)
                            </p>
                            <p>
                                Skicka cc till handledare i alla mail: ja
                            </p>
                            <p>
                                Mailtext för bekräftelse till den som bokat/gruppen som bokat:
                            </p>
                            <p>
                                Mailtext när tillfället (grupp) har uppnått maxantal, ihopkopplingsmail:
                            </p>
                        </div>
                    </div>
                    <div class="row d-none" id="editCourseError">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong>Ett fel uppstod:</strong> <span></span>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="editCourseSaveButton">Uppdatera</button>
                </div>
            </div>
        </form>
    </div>
</div>