<section>
    <code>
        <small>
            <strong>SESSION: </strong><%= JSON.stringify(session) %>
        </small>
    </code>
</section>

<section>
    <code>
        <small>
            <strong>USER: </strong><%= JSON.stringify(session.user) %>
        </small>
    </code>
</section>