<small class="text-muted">
    Version: <%= internal.version %> <%= internal.db && internal.db.includes("test") ? " (testdb)" : null %>
    <br>(c) 2022&ndash;<%= new Date().getFullYear() %> Chalmers Tekniska Högskola
    <br><a href="/privacy"><%= __('FooterPrivacyLinkLabel') %></a>
</small>