<small class="text-muted">
    Version: <%= internal.version %> <%= internal.db && internal.db.includes("test") ? " (testdb)" : null %>
    <br>(c) 2022&ndash;2023 Chalmers Tekniska Högskola
    <!--<br><a href="/privacy">Integritetspolicy</a>-->
</small>