<nav class="navbar navbar-dark navbar-top bg-dark">
    <div class="container-fluid">
      <div class="bg-dark p-3">
        <h5 class="text-white h4">BOKNINGSVERKTYG <i class="bi bi-calendar2-check-fill"></i></h5>
        <span class="text-muted">Boka tider för handledningstillfällen, föreläsningar och workshops.</span>
      </div>
    </div>
</nav>