<nav class="navbar navbar-dark navbar-top bg-dark">
    <div class="container-fluid">
      <div class="bg-dark p-3">
        <h5 class="text-white application-logo h4"><%= __('ApplicationName') %> <i class="bi bi-calendar2-check-fill"></i></h5>
        <span class="text-muted application-description"><%= __('ApplicationDescription') %></span>
      </div>
    </div>
</nav>