<div class="offcanvas offcanvas-end" style="width:500px;" tabindex="-1" id="offcanvasSlotDetails" aria-labelledby="offcanvasSlotDetailsLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasSlotDetailsLabel"></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body loading-spinner">
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="offcanvas-body loaded-content" style="display:none;">
      <p>
        <span class="text-muted" id="offcanvasSlotDetails_time"></span><br>
        <span id="offcanvasSlotDetails_location"></span>
        <div class="button-bar">
          <a id="offcanvasSlotDetails_ical_button" href="/api/instructor/slot/" download="" target="_blank" title="<%= __('OffCanvasDetailsDownloadIcalButtonTitle') %>" class="btn btn-md btn-primary" ><i class="bi bi-cloud-download"></i>&nbsp;<%= __('OffCanvasDetailsDownloadIcalButtonText') %></a>
          <a id="offcanvasSlotDetails_send_message" class="btn btn-md btn-primary"><i class="bi bi-envelope"></i>&nbsp;Meddelande</a>
        </div>
        <div class="card card-message d-none">
          <div class="card-header">
            Skicka meddelande
          </div>
          <div class="card-body">
            <p>
              <strong>Mottagare:</strong><br>
              DATX-2024-X012-132<br>
              IGN-2024-B12-63<br>
              DATX-2024-B012-120<br>
            </p>
            <p>
              <label for="instant_message" class="form-label">Meddelande:</label><br>
              <textarea name="instant_message" id="instant_message" class="form-control" style="min-height:280px;"></textarea>
            </p>
            <p class="float-right">
              <button type="button" class="btn btn-md btn-secondary">Avbryt</button>
              <button type="submit" class="btn btn-md btn-primary">Skicka</button>
            </p>
          </div>
        </div>
      </p>
      <p>
        <span id="offcanvasSlotDetails_type_details"></span>
      </p>
      <div>
        <strong>Bokade:</strong><br>
        <div id="offcanvasSlotDetails_reservations" data-default-text="Inga bokningar"></div>
      </div>
    </div>
  </div>