<div class="modal modal-lg fade" id="reserveSlot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reserveSlotLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" id="reserveSlotForm" novalidate>
            <input type="hidden" id="r_slot_id" name="slot_id" value="" />
            <input type="hidden" id="r_type" name="type" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reserveSlotLabel">Boka tillgänglig tid</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <p>
                                <strong id="r_course_name"></strong>
                            </p>
                            <p class="d-none" id="r_course_description"></p>
                            <p>
                                <label>Datum och tid:</label><br>
                                <span id="r_slot_time"></span>
                            </p>
                            <p>
                                <label>Lokal:</label><br>
                                <span id="r_location_name"></span>
                            </p>
                            <p>
                                <label>Handledare:</label><br>
                                <span id="r_instructor_name"></span>
                            </p>
                            <div class="row d-none" id="reservationsCurrent">
                                <p>
                                    <label>Andra som bokat:</label><br>
                                    <div id="reservations" data-default-text="Det finns inga bokningar på denna tid." class=""></div>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <p>
                                <label for="r_message" class="form-label">Frågor eller meddelande till handledaren:</label>
                                <textarea required id="r_message" name="message" class="form-control" rows="4"></textarea>
                                <div class="invalid-feedback">Please enter a message in the textarea.</div>
                            </p>
                            <p>
                                <div id="reserveSlotGroupBlock" class="d-block">
                                    <% if (session.user.groups && session.user.groups.length > 0) { %>
                                        <label for="r_group_id" class="form-label">Bokning för grupp:</label>
                                        <select name="group_id" id="r_group_id" class="form-control">
                                            <% session.user.groups.forEach(group => { %>
                                                <option value="<%= group.id %>"><%= group.name %></option>
                                            <% }) %>
                                        </select>
                                    <% } %>
                                </div>
                                <div id="reserveSlotIndividualBlock" class="d-none">
                                    <% if (session.user.id) { %>
                                        <label for="r_user_id" class="form-label">Bokning för individ:</label>
                                        <select name="user_id" id="r_user_id" class="form-control">
                                            <option value="<%= session.user.id %>"><%= session.user.name %></option>
                                        </select>
                                    <% } %>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="row d-none" id="reserveSlotWarning">
                        <div class="col">
                            <div class="alert alert-warning" role="alert">
                                <strong>Det finns redan bokningar gjorda på denna tid!</strong>
                                <span>
                                    Här ska det framgå om det är ok eller inte och om det är flera grupper som kan boka,
                                    vilket i så fall är mycket positivt. Annars är det negativt och de ska inte ens komma in hit.
                                </span>
                            </div>    
                        </div>
                    </div>
                    <div class="row d-none" id="reserveSlotGroupNotice">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong>Detta är en bokning för en hel grupp.</strong>
                                <span>
                                    När du bokar tiden kommer du och alla medlemmar i din grupp att få ett bekräftelsemail.
                                    En kopia skickas även till handledaren.
                                </span>
                            </div>    
                        </div>
                    </div>
                    <% if (session.user.groups && !session.user.groups.length) { %>
                        <div class="row d-block" id="reserveSlotUserNotInGroup">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Du är inte medlem i någon grupp.</strong>
                                    <span>
                                        För att kunna boka den här tiden måste du vara medlem i en grupp. Kontakta en handledare
                                        eller examinator för att kontrollera varför du inte är med i en grupp.
                                    </span>
                                </div>    
                            </div>
                        </div>
                    <% } %>
                    <div class="row d-none" id="reserveSlotError">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong>Ett fel uppstod:</strong> <span></span>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-primary" id="reserveSlotSubmitButton">Boka tiden</button>
                </div>
            </div>
        </form>
    </div>
</div>