<table class="table table-hover">
    <thead>
        <td>Thing</td>
        <td>Date and time</td>
        <td>Location</td>
        <td>Instructor</td>
        <td>Status</td>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>Handledningstillfälle 1</td>
            <td>2023-01-11 kl 14:00&ndash;15:00</td>
            <td>Lokalen 1</td>
            <td>Handledaren 1</td>
            <td>Available (0/2)</td>
            <td><button class="btn btn-primary btn-sm float-end">Reserve</button></td>
        </tr>
        <tr>
            <td>Handledningstillfälle 1</td>
            <td>2023-01-13 kl 11:00&ndash;12:00</td>
            <td>Lokalen 1</td>
            <td>Handledaren 1</td>
            <td>Available (1/2)</td>
            <td><button class="btn btn-primary btn-sm float-end">Reserve</button></td>
        </tr>
        <tr>
            <td>Handledningstillfälle 1</td>
            <td>2023-01-15 kl 09:00&ndash;11:00</td>
            <td>Lokalen 2</td>
            <td>Handledaren 1</td>
            <td>Full (2/2)</td>
            <td><button class="btn btn-primary btn-sm float-end disabled">Reserve</button></td>
        </tr>
    </tbody>
</table>