<div class="offcanvas offcanvas-end" style="width:500px;" tabindex="-1" id="offcanvasSlotFilters" aria-labelledby="offcanvasSlotFiltersLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasSlotFiltersLabel">Filtrera listan</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <%- include('slots_filters'); %>
    </div>
  </div>