<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../../partials/header', { user: session.user, navigation: { active: 'privacy' }}); %>
</header>

<main class="container-fluid py-2">
  <div class="row">
    <div class="col-lg-8">
      <h2>Privacy policy</h2>
      <p class="lead">
        Here is how the Booking Tool (referred to as the service) processes personal data and information related to you.
      </p>
      <h3>Cookies</h3>
      <p>
        The service uses cookies to verify your identity from Canvas. This cookie contains a so-called session ID, which is matched with the service to ensure that the right person is logged into the service, which course in Canvas the service is being used for, and your approval to use the Canvas API with your user identity. The Canvas API is used to obtain information about the groups you belong to in the Canvas course.
      </p>
      <p>
        To use the service, you need to accept so-called third-party cookies. This is because the service is embedded in the Canvas interface. If you do not want to do this or have difficulty accepting third-party cookies, there is an alternative way to load the service in a new window through the course's Modules in Canvas.
      </p>
      <h3>Processing of Personal Data</h3>
      <p>
        The service processes and stores data about you in accordance with the EU General Data Protection Regulation (GDPR), primarily for the following purposes:
      </p>
      <ul>
        <li>To determine which groups you belong to in the Canvas course.</li>
        <li>To know which bookings you or someone in the groups you belong to have made.</li>
        <li>To enable instructors to know who and/or which group has booked a time slot.</li>
        <li>To provide you with the correct permissions in the service.</li>
      </ul>
      <p>
        The following personal data is processed and stored:
      </p>
      <ul>
        <li>Your name</li>
        <li>Your internal Canvas ID</li>
        <li>Your role in the Canvas course</li>
        <li>A so-called Access Token to retrieve data via the Canvas API</li>
        <li>Names and internal IDs of the groups you belong to in the Canvas course</li>
      </ul>
      <p>
        If you have the role of an instructor, the following is also stored:
      </p>
      <ul>
        <li>Your email address</li>
      </ul>
      <p>
        We do not process any so-called sensitive personal data.
      </p>
      <p>
        <a href="https://www.chalmers.se/en/about-chalmers/about-the-website/processing-of-personal-data/" target="_blank">Read more about the handling of personal data on the Chalmers website</a>
      </p>
    </div>
    <div class="col-lg-4"></div>
  </div>
</main>

<footer>
  <%- include('../../../partials/footer'); %>
</footer>

</body>
</html>