body {
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main img {
    max-width: 400px;
}
nav {
    margin-bottom: 28px;
}
footer {
    padding-top: 28px;
}
label {
    font-weight: bolder;
}
div.slot_template {
    display: none;
}
ul.nav-tabs,
div.reservations,
div.button-bar {
    margin-bottom: 1em;
}
