<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header', { user: session.user, navigation: { active: navigation.current_page_is_instructor_slots ? 'instructor-slots' : 'index' }}); %>
</header>

<!--
<main>
    <div class="p-4 mb-4 bg-light">
        <div class="container-fluid py-5">
            <img alt="Group of people collaborating" class="float-end" src="/assets/img/people.png" />
            <h1 class="display-3">Bokningssystemet</h1>
            <p class="col-md-8 fs-4 lead">Här bokar du och hanterar dina bokade handledningstillfällen för din kandidatgrupp och även individuella föreläsningar.</p>
            <a href="/slots" class="btn btn-primary btn-lg" type="button">Visa tillgängliga tider</a>
        </div>
    </div>
</main>
-->

<main class="container-fluid py-2">
  <%- include('../partials/slots'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>