<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header', { user: session.user }); %>
</header>

<main>
    <div class="container-fluid py-2">
        <h1 class="display-5">Your reservations</h1>
    </div>

    <div class="container-fluid py-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Handledningstillfälle 1</h5>
                <h6 class="card-subtitle mb-2 text-muted">2023-01-10 kl 11:00&ndash;12:00, Lokalen 1</h6>
                <p class="card-text">Booked by <strong>Anton Antonsson</strong> for your group <strong>TEKX04-22-01</strong>.</p>
                <a href="#" class="btn btn-primary btn-sm">Do something</a>
            </div>
        </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer', { version: version }); %>
</footer>

</body>
</html>