<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head_admin'); %>
</head>
<body class="container-fluid float-start">

<header>
  <%- include('../../partials/header', { user: session.user }); %>
</header>

<main class="container-fluid py-2">
  <h1>Administration</h1>
  <%- include('../../partials/admin_navigation', { current_page: '/' }) %>

  <div class="card">
    <div class="card-header">
      Administrera
    </div>
    <div class="card-body">
      Här kommer lite hjälptext i framtiden.
    </div>
  </div>
</main>

<footer>
  <%- include('../../partials/footer', { version: version }); %>
</footer>

</body>
</html>