<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container-lg float-start">

<header>
  <%- include('../../partials/header', { user: session.user }); %>
</header>

<main>
    <div class="container py-2">
        <h1 class="display-5">Administration</h1>
    </div>

    <div class="container py-2">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        Listor
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="">Tillfällen</a></li>
                        <li class="list-group-item"><a href="/admin/slots-new">Tider</a></li>
                        <li class="list-group-item"><a href="">Handledare</a></li>
                        <li class="list-group-item"><a href="">Lokaler</a></li>
                        <li class="list-group-item"><a href="">Övrigt</a></li>
                    </ul>
                </div>        
            </div>
            <div class="col-9">
                Huvudområde
            </div>          
        </div>
    </div>
</main>

<%- include('../../partials/debug'); %>

<footer>
  <%- include('../../partials/footer', { version: version }); %>
</footer>

</body>
</html>